@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

$dark-gray: hsl(0, 0%, 59%);

$width: calc(100% / 12%) * 3%;
$height: calc(100% / 12%) * 6.25%;

$mobile-width: calc(100% / 12%) * 10.25%;
$mobile-height: calc(100% / 12%) * 7%;

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: $dark-cyan;

  overflow: hidden;
}

h2 {
  color: $very-dark-desaturated-blue;
}

p {
  color: $dark-grayish-blue;
}

.img {
  position: absolute;
}
.lt {
  left: -20%;
  top: -65%;
}
.rt {
  right: -15%;
  bottom: -85%;
}

@media screen and (max-width: 850px) {
  .lt {
    left: -190%;
    top: -85%;
  }
  .rt {
    right: -155%;
    bottom: -105%;
  }
}
