main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  width: $width;
  height: $height;

  background-color: white;

  border-radius: 20px;

  overflow: hidden auto;

  z-index: 1;

  box-shadow: -10px 30px 60px hsla(0, 0%, 0%, 0.2);
}

@media screen and (max-width: 850px) {
  main {
    width: $mobile-width;
    height: $mobile-height;
  }
}
