section {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  img {
    margin-top: -50px;

    border-radius: 100%;
    border: 5px solid white;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0 5px;

    p {
      margin-left: 10px;
    }
  }

  > p {
    margin: 0 0 auto;
  }

  .stats {
    border-top: 1px solid $dark-gray;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    padding: 20px;

    div {
      h3 {
        text-transform: uppercase;
      }
      p {
        font-size: 12px;
        letter-spacing: 1px;

        text-transform: capitalize;
      }
    }
  }
}

@keyframes top-anim {
  0% {
    position: relative;
    top: -20px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

@for $i from 1 through 3 {
  section *:nth-child(#{$i}) {
    animation: top-anim 1s ease-in-out #{calc($i/2) + 2}s both;
  }
}

@keyframes stat-anim {
  0% {
    position: relative;
    top: 20px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

@for $i from 1 through 3 {
  .stats div:nth-child(#{$i}) {
    animation: stat-anim 1s ease-in-out #{calc($i/2) + 3}s both;
  }
}
